.navbar-custom{
    background-color:darkviolet;
}
.navbar-custom .navbar-brand{
    color:white;
}
.navbar-custom .navbar-collapse .navbar-nav .nav-item .nav-link{
    color:white

}
.navbar-custom .navbar-collapse .navbar-nav .nav-item .nav-link:hover{
    color:black !important;

}
.Headimage{
    background-color:darkviolet ;
    height:90vh;
}
#image{
    border-radius: 100px;;
    height: 200px;
    width: 200px;
}
.Introduction{
    background-color: darkviolet;
    color:white;
}
.Heading{
    font-size: 3rem;
    font-family: 'Sansita Swashed', cursive;
    color: #f64c72;
}
.card-title{
    color: indianred;
    font-family: 'Sansita Swashed', cursive;
}
#projects{
    background: url(jj.jpg) no-repeat center center/cover;
}
#internships{
    background: url(Background.jpg);
    background-position: center;
    background-size: cover;
}
.details{
    font-size: 1.4rem;
}
.contactform{
    border: 1px solid gray;
    border-radius: 16px;
}
.field{
    width: 100%;
}
.footer{
    width: 100%;
    height: 50px;
    background-color: darkviolet;
}
.icon{
    
    height: 40px;
    width: 40px;
    border-radius: 20px;
    margin-left:10px ;
    margin-top: 7px;
}
ul{
    list-style: none;
    display: flex;
}